
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("./assets/background-image/pixels-baby-cream-color-cute-ultrawide-wallpapers-2025-best-ultra-hd-high-resolution-4k-desktop-backgrounds-wallpapers-for-mac-linux-and-windows-pc-macos-11-03-2025-1741731914-hd-wallpaper.png");
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}